<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-6 col-lg-6 col-md-8 col-sm-12">
          <h5 class="title" *ngIf="system=='OIS'">คุณไม่มีสิทธิ์ใช้งานระบบ Dashboard
            เนื่องจากคุณไม่มีข้อมูลสิทธิ์การเข้าถึงจากระบบ OIS</h5>
          <h5 class="title" *ngIf="system=='CIS'">คุณไม่มีสิทธิ์ใช้งานระบบ Dashboard
            เนื่องจากคุณไม่มีข้อมูลผู้ใช้งานจากระบบ CIS Mapper</h5>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>